<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  </head>
  <body>
  <div class="login">
    <div class="center">
      <span class="header">Welcome Come</span> <span class="emoji">&#x1F600</span>
    </div>
    <form action="/home" method="post">
      <label for="username" class="center">User Name or Phone Number: </label>
      <input id="username" name="user"/>
      <button  type="submit">Sign In</button>
    </form>
  </div>
  </body>
</html>
<style>
.login {
  border: 1px solid;
  padding: 50px;
  width: 50%;
  margin: auto;
  background-color: #f1f1f1;
}
.center {
  padding: 5%;
  width: 50%;
  margin: auto;
}
button {
  width: 10%;
  margin: auto;
    justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  color: #2b708e;
  font-style: normal;
  font-family: cursive;
  font-size: xxx-large;
}
.emoji {
  font-size: xx-large;
  font-family: emoji;
}

</style>

